* {
    box-sizing: border-box;
} 

body{
    background-color: #f0e8d9;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    
} 



img{
    width: 300px;
    height: 400px;  
}


/* 기사 본문 */
.content {
    font-size: 18px;
    width: 70%;
    max-width: 900px;
    margin: 50px auto;
  }
/* 코드잇 광고 */
#codeit {
    float: left;
    /* margin-right: auto;
    margin-left: auto; */
    margin-right: 15px; 
    margin-bottom: 15px;
  
}

.content .title{
    font-size: 28px;
}


.info .text_area{
    height: px;
    color: #58595b;
    border: 5px solid red;
    
}




  
  